<div id="confirmed-email" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Validación de correo</h1>
    <div style="max-width: 450px;" class="mx-auto text-center">
      <hr/>
      <p>Felicitaciones, tu correo ha sido validado y tienes acceso total al sitio</p>
      <p><a class="btn btn-outline-info" href="/">Ir a inicio</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
