<div id="forgot-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Recuperar Contrase침a</h1>
    <div style="max-width:  450px;" class="mx-auto" v-if="!cloudSuccess">
      <p class="text-center">Ingresa tu correo para poder restablecer tu contrase침a</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="usuario@mail.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor ingresa un correo v치lido</div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Enviar link</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Volver al login</a></p>
    </div>
    <div style="max-width:  450px;" class="mx-auto text-center" v-else>
      <p>Hemos enviado un link para recuperar tu contrase침a.</p>
      <hr/>
      <p>Si el email ha tardado, intenta checar tu folder de spam. Si sigues sin poder encontrarlo, por favor intenta de nuevo o llama a<a href="/contact">soporte</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Volver al login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
