<div class="container">

  <div class="row">
    <% productos.forEach(function(i){ %>
      
      <div class="col-3 card mb-3 m-3">
        <div class="card-body">
          <h5 class="card-title"><%= i.nombre %></h5>
        </div>
        <img src="" alt="..." srcset="">
        <div class="card-body">
          <p class="card-text"><%= i.descripcion %></p>
        </div>
        
        <div class="card-body">
          <a href="#" class="card-link">$ <%= i.precio %></a>
        </div>
        <div class="card-footer text-muted">
          <button type="submit" onclick="agregarElemento('<%= i.id %>')" class="btn btn-primary comprar">Comprar</button>
        </div>
      </div>

      
    <% }) %>
  </div>

</div>

<script>
  //cuando la página esté lista, ejecuta una función 
  var contador = 0;
  $(document).ready(function(){
    //la funcion es mandar un mensaje en consola
    console.log("Hola mundo desde JQuery");
    $('.notificacion').attr('style', 'display:none');
  });

  $(document).on('click','.comprar', function(){
    contador += 1; //contador = contador + 1;
    //console.log(contador);
    $('.notificacion').attr('style', 'display:inline');
    $('.notificacion').html(contador);

  });
  function agregarElemento(elemento){
    $.ajax({
      url: '/carrito/agregar/'+elemento,
      type: 'GET',
      dataType: 'json',
      success: function(data, textStatus){
        console.log("Se agregó con éxito");
      },
      error: function(textStatus){
        console.log("Ocurrió un error :C");
        console.log(textStatus);
      }
    });
    
  }




</script>